.entry-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
    background-color: $color1;
    background-image: linear-gradient(230deg, $color1, $color1);
    background-blend-mode: luminosity;
    position: relative;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: transparentize(#000, 0.5);
    }

    > * { 
        z-index: 1;
    }

    h1 {
        color: #fff;
        font-weight: 700;
    }
}

.wp-block-media-text {

    &.has-media-on-the-top {
        display: flex;
        flex-direction: column;

        figure {
            padding-bottom: 30px;
        }    
    }
}

.wp-block-columns {
    width: 60%;
    margin: 0 auto;

    .wp-block-column {
        word-break: normal;
        overflow-wrap: normal;
    }

    .no-spacing {

    }

    &.full-width {
        width: 100%;
    }

    &.skew-top {
        margin-top: -20vh;
        margin-bottom: 0;

        .wp-block-column {
            padding-top: 40vh;
            padding-bottom: 10vh;
            margin: 0 !important;
        }
    }
}