/*
@package: wwd blankslate
*/
$color1: #002F6C;
$color2: #0057B7;
$color3: #6AD1E3;
$color4: #E6E6E6;
$color5: #00B140;

// $color1-darken: darken($color1, 20%);
// $color1-lighten: lighten($color1, 20%);
// $color1-lightenx2: lighten($color1, 40%);
// $color2-darken: darken($color2, 20%);
// $color2-lighten: lighten($color2, 20%);
// $color2-lightenx2: lighten($color2, 40%);
// $color3-darken: darken($color3, 20%);
// $color3-lighten: lighten($color3, 20%);
// $color3-lightenx2: lighten($color3, 40%);
// $color4-darken: darken($color4, 20%);
// $color4-lighten: lighten($color4, 20%);
// $color4-lightenx2: lighten($color4, 40%);
// $color5-darken: darken($color5, 20%);
// $color5-lighten: lighten($color5, 20%);
// $color5-lightenx2: lighten($color5, 40%);

$body-font: 'Montserrat', sans-serif;
$body-fg-color: #222;
$secondary-fg-color: $color5;
$heading-font: 'Montserrat', sans-serif;
$heading-color: $color1;
$base-font-size: 16px;
$carousel-height: 60vh;
$base-link-color: #333;
$base-link-alt-color: #333;